.eslintrc
.mocharc.json
.nyc_output
.nycrc.json
.vscode
check_publish_env.js
deploy.sh
register.js
typedoc.json
/coverage/
/docs/**/*.*
/dist/cjs/index.d.ts
/dist/cjs/lib/**/*.*
/dist/esm/index.d.ts
/dist/esm/lib/**/*.*
/dist/system/index.d.ts
/dist/system/lib/**/*.*
/dist/umd/index.d.ts
/dist/umd/lib/**/*.*
/node_modules
/src
/types/**/*.*
/karma_test_build
/typings
.gitignore
.npmignore
.settings
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
jest.config.js
rollup.config.js
tsconfig.json
tsconfig.main.json
tsconfig.module.json
tsconfig.karma.json
tslint.json
