<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="amd/davinci-eight/geometries/prismGeometry.js">
  
  <error
    line="1"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 24.952
    | Effort: 22668
    | Volume: 908.44
    | Vocabulary: 29"
    source="&lt;anonymous&gt;"
    />
  
  <error
    line="51"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 17.500
    | Effort: 19108
    | Volume: 1091.9
    | Vocabulary: 44"
    source="prismGeometry"
    />
  
</file>



<file name="amd/davinci-eight/geometries/boxGeometry.js">
  
  <error
    line="1"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 21.412
    | Effort: 14418
    | Volume: 673.36
    | Vocabulary: 25"
    source="&lt;anonymous&gt;"
    />
  
  <error
    line="26"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 17.500
    | Effort: 19108
    | Volume: 1091.9
    | Vocabulary: 44"
    source="boxGeometry"
    />
  
</file>



<file name="amd/davinci-eight.js">
  
</file>



<file name="amd/davinci-blade/Euclidean3.js">
  
  <error
    line="2"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 13.730
    | Effort: 22435
    | Volume: 1634.1
    | Vocabulary: 41"
    source="compute"
    />
  
  <error
    line="30"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 20.893
    | Effort: 19477
    | Volume: 932.21
    | Vocabulary: 41"
    source="addE3"
    />
  
  <error
    line="96"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 20.893
    | Effort: 19477
    | Volume: 932.21
    | Vocabulary: 41"
    source="subE3"
    />
  
  <error
    line="165"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 54.107
    | Effort: 1.1685e+5
    | Volume: 2159.7
    | Vocabulary: 43"
    source="mulE3"
    />
  
  <error
    line="231"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 34.286
    | Effort: 46511
    | Volume: 1356.6
    | Vocabulary: 43"
    source="extE3"
    />
  
  <error
    line="297"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 34.286
    | Effort: 46511
    | Volume: 1356.6
    | Vocabulary: 43"
    source="lcoE3"
    />
  
  <error
    line="363"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 34.286
    | Effort: 47813
    | Volume: 1394.6
    | Vocabulary: 43"
    source="rcoE3"
    />
  
  <error
    line="429"
    severity="warning"
    message="Cyclomatic: 2,
    Halstead: 44.965
    | Effort: 2.2575e+5
    | Volume: 5020.6
    | Vocabulary: 98"
    source="divide"
    />
  
  <error
    line="502"
    severity="warning"
    message="Cyclomatic: 5,
    Halstead: 24.367
    | Effort: 9503.0
    | Volume: 390.00
    | Vocabulary: 32"
    source="stringFromCoordinates"
    />
  
  <error
    line="506"
    severity="warning"
    message="Cyclomatic: 6,
    Halstead: 12.333
    | Effort: 3894.6
    | Volume: 315.78
    | Vocabulary: 25"
    source="append"
    />
  
  <error
    line="594"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 10.500
    | Effort: 3277.7
    | Volume: 312.16
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.add"
    />
  
  <error
    line="604"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 10.500
    | Effort: 3277.7
    | Volume: 312.16
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.sub"
    />
  
  <error
    line="614"
    severity="warning"
    message="Cyclomatic: 2,
    Halstead: 16.176
    | Effort: 6376.8
    | Volume: 394.20
    | Vocabulary: 28"
    source="&lt;anonymous&gt;.mul"
    />
  
  <error
    line="632"
    severity="warning"
    message="Cyclomatic: 2,
    Halstead: 24.357
    | Effort: 11877
    | Volume: 487.60
    | Vocabulary: 25"
    source="&lt;anonymous&gt;.div"
    />
  
  <error
    line="640"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 10.500
    | Effort: 3277.7
    | Volume: 312.16
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.wedge"
    />
  
  <error
    line="650"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 10.500
    | Effort: 3277.7
    | Volume: 312.16
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.lshift"
    />
  
  <error
    line="660"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 10.500
    | Effort: 3277.7
    | Volume: 312.16
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.rshift"
    />
  
  <error
    line="670"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 12.000
    | Effort: 4976.7
    | Volume: 414.73
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.grade"
    />
  
  <error
    line="687"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 14.000
    | Effort: 4780.1
    | Volume: 341.43
    | Vocabulary: 20"
    source="&lt;anonymous&gt;.cross"
    />
  
  <error
    line="703"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 9.6923
    | Effort: 3170.3
    | Volume: 327.09
    | Vocabulary: 19"
    source="&lt;anonymous&gt;.norm"
    />
  
  <error
    line="706"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 9.0909
    | Effort: 2654.5
    | Volume: 292.00
    | Vocabulary: 16"
    source="&lt;anonymous&gt;.quad"
    />
  
</file>



<file name="amd/davinci-eight/objects/mesh.js">
  
  <error
    line="2"
    severity="warning"
    message="Cyclomatic: 1,
    Halstead: 9.1892
    | Effort: 7043.8
    | Volume: 766.53
    | Vocabulary: 47"
    source="mesh"
    />
  
  <error
    line="32"
    severity="warning"
    message="Cyclomatic: 4,
    Halstead: 14.344
    | Effort: 22590
    | Volume: 1574.9
    | Vocabulary: 57"
    source="onContextGain"
    />
  
  <error
    line="100"
    severity="warning"
    message="Cyclomatic: 2,
    Halstead: 8.1667
    | Effort: 6693.7
    | Volume: 819.63
    | Vocabulary: 42"
    source="draw"
    />
  
</file>



<file name="amd/davinci-eight/utils/windowAnimationRunner.js">
  
  <error
    line="42"
    severity="warning"
    message="Cyclomatic: 4,
    Halstead: 6.6000
    | Effort: 1108.8
    | Volume: 168.00
    | Vocabulary: 16"
    source="onDocumentKeyDown"
    />
  
</file>



<file name="amd/davinci-eight/renderers/webGLRenderer.js">
  
  <error
    line="2"
    severity="warning"
    message="Cyclomatic: 8,
    Halstead: 14.903
    | Effort: 12858
    | Volume: 862.77
    | Vocabulary: 42"
    source="webGLRenderer"
    />
  
  <error
    line="56"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 9.3750
    | Effort: 1853.0
    | Volume: 197.65
    | Vocabulary: 21"
    source="render"
    />
  
  <error
    line="70"
    severity="warning"
    message="Cyclomatic: 2,
    Halstead: 8.6667
    | Effort: 1388.2
    | Volume: 160.18
    | Vocabulary: 15"
    source="setSize"
    />
  
</file>



<file name="amd/davinci-eight/utils/workbench3D.js">
  
</file>



<file name="amd/davinci-eight/scenes/scene.js">
  
</file>



<file name="amd/davinci-eight/core/geometry.js">
  
</file>



<file name="amd/davinci-eight/shaders/shader-vs.js">
  
</file>



<file name="amd/davinci-eight/cameras/perspectiveCamera.js">
  
  <error
    line="2"
    severity="warning"
    message="Cyclomatic: 5,
    Halstead: 11.765
    | Effort: 4363.3
    | Volume: 370.88
    | Vocabulary: 27"
    source="perspectiveCamera"
    />
  
</file>



<file name="amd/davinci-eight/shaders/shader-fs.js">
  
</file>



<file name="amd/davinci-eight/core.js">
  
</file>



<file name="amd/davinci-eight/utils/webGLContextMonitor.js">
  
</file>



<file name="amd/davinci-eight/cameras/camera.js">
  
</file>



<file name="amd/davinci-eight/core/object3D.js">
  
</file>



<file name="amd/davinci-eight/materials/meshNormalMaterial.js">
  
</file>



<file name="amd/davinci-eight/materials/meshBasicMaterial.js">
  
</file>



<file name="amd/davinci-eight/core/material.js">
  
</file>



<file name="amd/davinci-eight/math/e3ga/bivectorE3.js">
  
</file>



<file name="amd/davinci-eight/math/e3ga/vectorE3.js">
  
</file>



<file name="amd/davinci-eight/math/e3ga/scalarE3.js">
  
</file>



<file name="amd/davinci-blade/Field.js">
  
</file>



<file name="amd/davinci-blade/Geometric.js">
  
</file>



</checkstyle>
